.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
upload/admin/inventory/5fd371a3801ac1607692707.jpg
upload/admin/inventory/5fdf4d2b151431608469803.jpg
upload/admin/inventory/5fdf4dafa61dd1608469935.png
upload/admin/inventory/bg-inventory.jpg
upload/admin/management/5fd33ac9b822c1607678665.jpg
upload/admin/management/5fdf4b3abfcef1608469306.jpg
upload/admin/management/5fdf4b606a9301608469344.jpg
upload/admin/management/5fdf4b952d0791608469397.jpg
upload/admin/mosque/5fdf374a824d91608464202.jpg
upload/admin/news/5fd39a86b018a1607703174.png
upload/admin/news/5fd39ba839e5d1607703464.jpg
upload/admin/news/5fe48b2167ada1608813345.png
upload/admin/ustadz/5fd31d4f161f21607671119.jpg
upload/admin/ustadz/5fd31de15da961607671265.png
upload/admin/ustadz/5fd31df5ec2b91607671285.jpg
upload/admin/management/5fd33ac9b822c1607678665.jpg
upload/admin/ustadz/5fd31d4f161f21607671119.jpg
upload/admin/ustadz/5fd31de15da961607671265.png
upload/admin/ustadz/5fd31df5ec2b91607671285.jpg
upload/admin/user/5fee8014c4ff11609465876.jpg
upload/admin/user/5fee8cf84e4051609469176.jpg
